## 01- How to find version of pandas

In [1]:
import pandas as pd
pd.__version__

'2.1.1'

In [2]:
pd.show_versions()

INSTALLED VERSIONS
------------------
commit              : e86ed377639948c64c429059127bcf5b359ab6be
python              : 3.10.12.final.0
python-bits         : 64
OS                  : Linux
OS-release          : 6.2.0-34-generic
Version             : #34~22.04.1-Ubuntu SMP PREEMPT_DYNAMIC Thu Sep  7 13:12:03 UTC 2
machine             : x86_64
processor           : x86_64
byteorder           : little
LC_ALL              : None
LANG                : en_US.UTF-8
LOCALE              : en_US.UTF-8

pandas              : 2.1.1
numpy               : 1.26.1
pytz                : 2022.1
dateutil            : 2.8.2
setuptools          : 59.6.0
pip                 : 22.0.2
Cython              : None
pytest              : None
hypothesis          : None
sphinx              : None
blosc               : None
feather             : None
xlsxwriter          : None
lxml.etree          : None
html5lib            : None
pymysql             : None
psycopg2            : None
jinja2              : None
IPython             : 8.16.1
pandas_datareader   : None
bs4                 : None
bottleneck          : None
dataframe-api-compat: None
fastparquet         : None
fsspec              : None
gcsfs               : None
matplotlib          : 3.8.0
numba               : None
numexpr             : None
odfpy               : None
openpyxl            : 3.1.2
pandas_gbq          : None
pyarrow             : None
pyreadstat          : None
pyxlsb              : None
s3fs                : None
scipy               : None
sqlalchemy          : None
tables              : None
tabulate            : None
xarray              : None
xlrd                : None
zstandard           : None
tzdata              : 2023.3
qtpy                : None
pyqt5               : None

## 02 - Making DataFrame

In [5]:
df = pd.DataFrame({'A Col': [1, 2, 3, 11, 19, 21],
                   'B Col': [4, 5, 6, 27, 40, 41]})
df

   A Col  B Col
0      1      4
1      2      5
2      3      6
3     11     27
4     19     40
5     21     41

In [7]:
# using numpy
import numpy as np

In [8]:
arr =np.array([
  [1, 2, 11],
  [3,4, 21],
  [7,8, 19]
])
arr

array([[ 1,  2, 11],
       [ 3,  4, 21],
       [ 7,  8, 19]])

In [9]:
pd.DataFrame(arr)

   0  1   2
0  1  2  11
1  3  4  21
2  7  8  19

In [10]:
pd.DataFrame(np.random.randn(4,8))

,0,1,2,3,4,5,6,7
0,-0.186300,0.196537,-0.663349,-0.873034,-0.539131,1.281896,0.260690,-0.737692
1,-1.123768,-0.760898,0.823901,1.498975,-0.579543,-0.574665,2.131679,1.233369
2,-0.176451,-0.693012,-1.203065,-1.795257,-0.047744,1.393362,-0.481268,0.073391
3,0.131528,0.926762,0.762133,0.450318,-0.326846,0.791960,-1.423446,0.819399

In [13]:
pd.DataFrame(np.random.randn(4,8), columns=list('ABCDEFGH'))

,A,B,C,D,E,F,G,H
0,-0.112137,-0.137659,2.083914,-0.310582,-1.063526,-0.465197,-1.500372,0.848875
1,0.008601,-1.174736,0.861041,1.010083,1.473139,-0.035397,-0.376038,0.255609
2,-0.302487,-0.639733,0.250393,0.308574,1.307307,0.413353,1.672655,-0.558773
3,1.384579,-0.575956,-0.927811,2.112993,-0.970295,-1.300877,-1.274323,-0.157771