In [1]:
import numpy as np
import pandas as pd

In [2]:
s = pd.Series([1, 3, 5, np.nan, 6, 8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [4]:
dates = pd.date_range('20130101', periods=6)
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [5]:
# create dataset using numpy
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list('ABCD'))
df

                   A         B         C         D
2013-01-01 -1.334710  0.182589 -1.040492 -0.174351
2013-01-02  0.053463 -3.428120  1.245824 -0.814897
2013-01-03  0.317707  1.413521 -1.810060 -1.178618
2013-01-04 -0.307419  0.839363 -0.723073 -1.404684
2013-01-05 -1.926522 -0.943379 -1.000761  0.141018
2013-01-06  2.165504 -0.712453 -0.375344  0.203907